---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : "Nanum Gothic", Georgia, Times, serif;
$sans-serif-narrow  : "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

$base00: #263238;
$base01: #2E3C43;
$base02: #314549;
$base03: #546E7A;
$base04: #B2CCD6;
$base05: #EEFFFF;
$base06: #EEFFFF;
$base07: #FFFFFF;
$base08: #F07178;
$base09: #F78C6C;
$base0A: #FFCB6B;
$base0B: #C3E88D;
$base0C: #89DDFF;
$base0D: #82AAFF;
$base0E: #C792EA;
$base0F: #FF5370;

$code-background-color: #FEF7CA !default;

/* Custom Font size */ 
// $type-size-4: 1.188em !default;
@import "bigfoot-default";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; 
@import "minimal-mistakes"; 
